.app-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5rem 1rem;

  /* Anula el centrado del body flex */
  align-self: flex-start;
  background-color: #e6f2ea; /* verde claro suave */
   color: #1f3d2b; 
  border-radius: 16px;
}

.app-container h1 {
  margin-bottom: 2rem;
  text-align: center;
}
