.footer {
  background-color: #1b3022; /* El verde oscuro que usas en el header */
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px; /* Separación de las cards */
}

.footer-links a {
  color: #a3b18a;
  margin: 0 10px;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links a:hover {
  text-decoration: underline;
}